.boardColumn {
  margin: 20px;
  .boardHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .actions{
      display: flex;
      align-items: center;
    }
  }
  .columnHeader {
    font-weight: 600;
    color: #4a4a4a;
    display: flex;
    align-items: center;
    > img { 
      margin-right: 4px;
    }
    .initials {
      color: #fff;
      text-transform: uppercase;
      // padding: 5px;
      border-radius: 10px;
      aspect-ratio: 1;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      margin-right: 4px;
    }
  }
}